<div class="jumbotron">
  <h1 class="text-info">Send Custom Emails</h1>
  <p>This is an application created for sending HTML styled and automatic emails This app is intended to help you send to custom emails to your email list.</p>
  <p><a class="btn btn-success btn-lg">Get Started</a></p>
</div>
